
@font-face {
  font-family: Advent Pro Light;
  src: url("http://dev.romaniahorseholiday.com/fonts/AdventPro-Light.ttf");
}
@font-face {
  font-family: Advent Pro;
  src: url("http://dev.romaniahorseholiday.com/fonts/AdventPro-Regular.ttf");
}
@font-face {
  font-family: Philosopher;
  src: url("http://dev.romaniahorseholiday.com/fonts/Philosopher-Regular.ttf");
}
@font-face {
  font-family: diavlolight;
  src: url("http://dev.romaniahorseholiday.com/fonts/Diavlo_LIGHT_II_37.otf");
}
@font-face {
  font-family: diavlomedium;
  src: url("http://dev.romaniahorseholiday.com/fonts/Diavlo_MEDIUM_II_37.otf");
}
body,
html {
  margin: 0 auto;
  font-size: 24px;
  font-family: "Advent Pro";
  overflow-x: hidden;
}
.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -9999;
}
.bg img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.top-low {
  width: 100%;
  position: fixed;
  height: 80px;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  z-index: 9998;
  box-shadow: 0 3px 5px rgba(30, 30, 30, 0.7);
}
.social {
  float: left;
  margin-left: 195px;
  margin-top: 5px;
}
.social img {
  height: 24px;
}
.header-top-right {
  top: 8px;
  right: 30px;
  position: absolute;
  z-index: 9999;
}
.header-top-right img {
  height: 20px;
}
.header-top-right .pn {
  font-size: 14px;
  margin-top: 3.5px;
  float: right;
  margin-left: 0px;
  color: #cccccc;
}
.header-top-right input {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 13.5px;
  width: 85px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -10px;
}
.header-top-right a {
  font-size: 12px;
  margin-top: 16.3px;
  float: right;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.btnType1 {
  background-color: #0896ff;
  color: #ffffff;
}
.btnType1:hover {
  cursor: pointer;
}
.header {
  color: #000000;
  width: 100%;
  max-width: 1012px;
  position: fixed;
  height: 80px;
  top: 0px;
  left: 0px;
  z-index: 9999;
  margin-left: 50%;
  -ms-transform: translate(-50%, 0px);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0px);
  /* Safari */
  transform: translate(-50%, 0px);
  text-align: center;
  font-family: 'diavlolight';
  font-weight: bold;
  color: #2b2b2b;
  font-size: 17px;
}
.header .container-fluid {
  margin-top: -20px;
}
.header .container-fluid .collapse {
  margin-top: 20px;
}
.header .navbar-header {
  margin-top: 20px;
  sepadding: 0px;
  margin: 0px;
}
.header .navbar-header .hm {
  text-align: center;
  float: left;
  margin-top: 18px;
}
.header .navbar-toggle {
  margin-top: 10px;
  margin-right: 18px;
}
.header .top-filter.fade {
  width: 60%;
  height: 60px;
  background-color: #ffffff;
  position: absolute;
  top: 110px;
  left: 200px;
  border-radius: 10px 10px 10px 10px;
  color: #555555;
  text-align: left;
  opacity: 1;
  transition: opacity 0.3s;
  opacity: 0;
}
.header .top-filter.fade .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 20.5%;
  margin: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  float: right;
  padding: 10px;
  text-align: center;
  margin-right: 12px;
}
.header .top-filter.fade .btn-search:hover {
  cursor: pointer;
}
.header .top-filter.fade input {
  font-size: 18px;
  width: 35%;
  margin: 10px;
  margin-right: 0px;
  margin-left: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  float: left;
  border: 1px solid #cccccc;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  background-color: #ffffff;
  font-family: 'diavlolight';
  font-weight: 100px;
}
.header .top-search-filter.fade {
  width: 60%;
  height: 60px;
  background-color: #ffffff;
  position: absolute;
  top: 110px;
  left: 200px;
  border-radius: 10px 10px 10px 10px;
  color: #555555;
  text-align: left;
  opacity: 1;
  transition: opacity 0.3s;
  background-color: rgba(255, 255, 255, 0.6);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 7px;
  opacity: 0;
}
.header .top-search-filter.fade .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 20.5%;
  margin: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  float: right;
  padding: 10px;
  text-align: center;
  margin-right: 12px;
}
.header .top-search-filter.fade .btn-search:hover {
  cursor: pointer;
}
.header .top-search-filter.fade input {
  font-size: 18px;
  width: 35%;
  margin: 10px;
  margin-right: 0px;
  margin-left: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  float: left;
  border: 1px solid #cccccc;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  background-color: #ffffff;
  font-family: 'diavlolight';
  font-weight: 100px;
}
.header .top-search-filter.fade .price {
  color: #003580;
  float: right;
  font-size: 30px;
  margin-right: 85px;
  margin-top: 0px;
}
.header .top-search-filter.fade img {
  width: 100%;
  height: 43px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  padding-right: 14px;
  opacity: 0.1;
}
.header .top-search-filter.fade .tx {
  position: absolute;
  top: 7px;
  left: 20px;
  font-size: 20px;
  color: #003580;
  font-weight: bold;
}
.header .top-search-filter.fade .tx .tx2 {
  font-size: 14px;
  margin-top: -7px;
  font-weight: bold;
}
.header .top-search-filter.fade .btn-book {
  position: absolute;
  bottom: 14px;
  right: 12px;
  font-weight: bold;
  background-color: #0896ff;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 13px;
  height: 30px;
  padding-top: 5px;
}
.header .top-search-filter.fade .btn-book:hover {
  cursor: pointer;
}
.header .top-search-filter.fade .cvb {
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 37px;
  font-family: 'Phylosopher';
}
.header .top-search-filter.fade h1 {
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 10px;
  margin-top: 12px;
}
.header .top-search-filter.fade .cv {
  position: absolute;
  top: 18px;
  left: 130px;
}
.header .top-search-filter.fade h2 {
  font-size: 24px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 15px;
  position: relative;
  top: -5px;
  float: left;
  margin-top: 5px;
  font-weight: bold;
}
.header .top-filter {
  width: 60%;
  height: 60px;
  background-color: #ffffff;
  position: absolute;
  top: 110px;
  left: 200px;
  border-radius: 10px 10px 10px 10px;
  color: #555555;
  text-align: left;
  opacity: 1;
  transition: opacity 0.3s;
}
.header .top-filter .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 20.5%;
  margin: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  float: right;
  padding: 10px;
  text-align: center;
  margin-right: 12px;
}
.header .top-filter .btn-search:hover {
  cursor: pointer;
}
.header .top-filter input {
  font-size: 18px;
  width: 35%;
  margin: 10px;
  margin-right: 0px;
  margin-left: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  float: left;
  border: 1px solid #cccccc;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  background-color: #ffffff;
  font-family: 'diavlolight';
  font-weight: 100px;
}
.header .top-search-filter {
  width: 60%;
  height: 60px;
  background-color: #ffffff;
  position: absolute;
  top: 110px;
  left: 200px;
  border-radius: 10px 10px 10px 10px;
  color: #555555;
  text-align: left;
  opacity: 1;
  transition: opacity 0.3s;
  background-color: rgba(255, 255, 255, 0.6);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 7px;
}
.header .top-search-filter .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 20.5%;
  margin: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  float: right;
  padding: 10px;
  text-align: center;
  margin-right: 12px;
}
.header .top-search-filter .btn-search:hover {
  cursor: pointer;
}
.header .top-search-filter input {
  font-size: 18px;
  width: 35%;
  margin: 10px;
  margin-right: 0px;
  margin-left: 10px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  float: left;
  border: 1px solid #cccccc;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  background-color: #ffffff;
  font-family: 'diavlolight';
  font-weight: 100px;
}
.header .top-search-filter .price {
  color: #003580;
  float: right;
  font-size: 30px;
  margin-right: 85px;
  margin-top: 0px;
}
.header .top-search-filter img {
  width: 100%;
  height: 43px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  padding-right: 14px;
  opacity: 0.1;
}
.header .top-search-filter .tx {
  position: absolute;
  top: 7px;
  left: 20px;
  font-size: 20px;
  color: #003580;
  font-weight: bold;
}
.header .top-search-filter .tx .tx2 {
  font-size: 14px;
  margin-top: -7px;
  font-weight: bold;
}
.header .top-search-filter .btn-book {
  position: absolute;
  bottom: 14px;
  right: 12px;
  font-weight: bold;
  background-color: #0896ff;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 13px;
  height: 30px;
  padding-top: 5px;
}
.header .top-search-filter .btn-book:hover {
  cursor: pointer;
}
.header .top-search-filter .cvb {
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 37px;
  font-family: 'Phylosopher';
}
.header .top-search-filter h1 {
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 10px;
  margin-top: 12px;
}
.header .top-search-filter .cv {
  position: absolute;
  top: 18px;
  left: 130px;
}
.header .top-search-filter h2 {
  font-size: 24px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 15px;
  position: relative;
  top: -5px;
  float: left;
  margin-top: 5px;
  font-weight: bold;
}
.header .logo {
  float: left;
  margin-left: -150px;
  margin-top: -50px;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 20px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  width: 155px;
  transition: width 0.3s;
}
.header .logo.small {
  width: 75px;
}
.header .navbar {
  border: none;
  float: left;
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  margin-left: 145px;
  margin-top: 47px;
  height: 0px;
}
.header .navbar li a {
  padding: 0px;
  border: none;
  background-color: rgba(0, 0, 0, 0) !important;
  color: #555555 !important;
  padding-left: 20px;
  padding-right: 20px;
}
.header .navbar .caret {
  position: absolute;
  top: 22px;
  left: 46%;
  color: #999999;
}
.header .navbar .dropdown-menu {
  margin-top: 12px;
  border-top: none;
  font-size: 16px;
}
.content {
  width: 100%;
  height: 1300px;
  max-width: 1012px;
  margin: 0 auto;
  margin-top: 220px;
  border-top: 50px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0px 0px;
  text-align: left;
  color: #000000;
}
.content .pag-right {
  float: right;
  margin-top: -70px;
  height: 0px;
  border: none;
  margin-right: 20px;
  font-size: 12px;
}
.content .pag-right a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.content .pageTitle {
  margin-top: -46px;
  float: left;
  margin-left: 38px;
  font-family: 'diavlolight';
  font-size: 16px;
  color: #eeeeee;
}
.content .page {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
  clear: both;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: -20px;
  border-radius: 10px 10px 0px 0px;
  height: 100%;
}
.footer {
  margin-top: 15px;
  border-top: 1px solid #d7d7d7;
  padding-top: 15px;
  width: 100%;
  float: left;
}
.footer h1 {
  color: #45909d;
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}
.footer a {
  color: #555555;
  width: 100%;
  float: left;
  font-size: 12px;
}
.footer .logos {
  margin-top: 15px;
  width: 100%;
  float: left;
  text-align: right;
}
.footer .logos img {
  height: 80px;
  padding: 10px;
}
.footer h2 {
  color: #555555;
  font-size: 12px;
  margin-top: 10px;
  float: left;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 655px) {
  .header .top-filter {
    display: none;
  }
}
.hm {
  display: none;
}
#carousel-item {
  width: 100%;
  height: 302px;
}
.hbold {
  font-weight: bold;
  color: #003580;
}
.product {
  min-height: 1000px;
}
.product h1 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  padding-top: 0px;
}
.product h2 {
  color: #0896ff;
  font-family: 'Advent Pro';
  font-size: 22px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 50px;
  position: relative;
  top: -5px;
}
.product h3 {
  margin-left: 0px;
  font-size: 14px;
  color: #888888;
  margin-top: 0px;
}
.product .attraction {
  top: 90px;
  left: 20px;
  width: 100%;
  background-color: #feba00;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: "Arial";
  font-size: 20px;
  color: #003580;
}
.product .attraction h1 {
  padding-left: 0px;
  margin-left: 3px;
  margin-top: 0px;
  color: #003580;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
.product .attraction .search-item {
  font-size: 16px;
  float: left;
  padding-left: 10px;
  color: #003580;
  margin-bottom: 5px;
}
.product .attraction .search-item .rd {
  float: left;
  margin-left: 30px;
  text-align: left;
}
.product .attraction .search-item .rd input {
  width: 20px;
  margin-top: 5px;
}
.product .attraction .search-item select {
  float: left;
  margin-left: -10px;
  padding: 5px 5px 5px 5px;
  width: 110%;
}
.product .attraction .search-item input {
  width: 105%;
  margin-left: -10px;
  padding-left: 10px;
}
.product .attraction .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 50%;
  position: absolute;
  right: 12px;
  bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
}
.product .attraction .btn-search:hover {
  cursor: pointer;
}
.product .attraction .btn-search:hover {
  cursor: pointer;
}
.product .search-left {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 200px;
  height: 350px;
  background-color: #feba00;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: "Arial";
  font-size: 20px;
  color: #003580;
}
.product .search-left h1 {
  padding-left: 0px;
  margin-left: 3px;
  margin-top: 0px;
  color: #003580;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
.product .search-left .search-item {
  font-size: 16px;
  float: left;
  padding-left: 10px;
  color: #003580;
  margin-bottom: 5px;
}
.product .search-left .search-item .rd {
  float: left;
  margin-left: 30px;
  text-align: left;
}
.product .search-left .search-item .rd input {
  width: 20px;
  margin-top: 5px;
}
.product .search-left .search-item select {
  float: left;
  margin-left: -10px;
  padding: 5px 5px 5px 5px;
  width: 110%;
}
.product .search-left .search-item input {
  width: 105%;
  margin-left: -10px;
  padding-left: 10px;
}
.product .search-left .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 50%;
  position: absolute;
  right: 12px;
  bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
}
.product .search-left .btn-search:hover {
  cursor: pointer;
}
.product .search-left .btn-search:hover {
  cursor: pointer;
}
.product .search-left-2 {
  position: absolute;
  top: 455px;
  left: 20px;
  height: 540px;
  background-color: #ccccff;
  width: 200px;
  border-radius: 10px 10px 10px 10px;
  color: #46909d;
}
.product .search-left-2 .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 50%;
  position: absolute;
  right: 12px;
  bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
}
.product .search-left-2 .btn-search:hover {
  cursor: pointer;
}
.product .search-left-2 .btn-search:hover {
  cursor: pointer;
}
.product .search-left-2 h1 {
  color: #ffffff;
  background-color: #0896ff;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 10px 10px 10px 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.product .search-left-2 h2 {
  font-size: 20px;
  background-color: transparent;
  color: #003580;
  margin-left: 0px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.product .search-left-2 .search-item {
  margin-left: 10px;
}
.product .search-left-2 .search-item .sis {
  margin-left: 5px;
}
.product .search-right {
  margin-left: 210px;
  margin-top: 19px;
}
.product .search-right h2 {
  margin-bottom: 0px;
  float: left;
  margin-left: 27px;
  font-size: 18px;
  color: #0078d8;
  font-weight: bold;
}
.product .search-right h4 {
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
  color: #0078d8;
  font-family: "diavlolight";
  font-weight: bold;
}
.product .search-right #ord {
  float: left;
  margin-left: 0px;
  border-top: 3px solid #0896ff;
  width: 100%;
  border-bottom: 1px solid #0896ff;
  margin-bottom: 10px;
  border-right: 1px solid #0896ff;
  border-left: 1px solid #0896ff;
}
.product .search-right #ord a {
  background-color: #ffffff;
  color: #46909d;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  float: left;
  border-right: 1px solid #0896ff;
}
.product .search-right .container-fluid {
  padding-right: 0px;
}
.product .search-right .media-left .media-object {
  width: 220px;
  height: 150px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.product .search-right #pachet {
  margin-bottom: 20px;
  border: 1px solid #c7c7c7;
  width: 100%;
  padding-right: 5px;
  border-radius: 10px 10px 10px 10px;
}
.product .search-right #pachet .stars img {
  width: 20px;
}
.product .search-right #pachet .pachet-right {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ff0000;
  padding-right: 40px;
  margin-top: 12px;
  text-align: right;
  width: 200px;
}
.product .search-right #pachet .pachet-right h1 {
  font-size: 24px;
  padding-top: 0px;
  margin-top: -4px;
  color: rgba(0, 0, 0, 0.5);
}
.product .search-right #pachet .pachet-right h2 {
  margin-top: 5px;
  clear: both;
  float: right;
  color: #0896ff;
}
.product .search-right #pachet .pachet-right h3 {
  color: #0896ff;
  text-align: center;
  font-size: 20px;
  color: #feba00;
  margin-top: 54px;
  width: 238px;
  font-weight: bold;
}
.product .search-right #pachet .pachet-right h4 {
  font-size: 18px;
  margin-bottom: 0px;
  color: #e42c23;
}
.product .search-right #pachet .btn-view {
  background-color: #0896ff;
  color: #ffffff;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
}
.product .search-right #pachet .btn-view:hover {
  cursor: pointer;
}
.product .search-right #pachet h1 {
  font-size: 18px;
  color: #0078d8;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 10px;
}
.product .search-right #pachet a {
  text-decoration: underline;
  color: #0896ff;
}
.product .search-right #pachet h3 {
  font-size: 12px;
  color: #555555;
  margin-top: 15px;
  height: 5px;
}
.product .search-right #pachet h4 {
  font-size: 12px;
  color: #e42c23;
}
.product .search-right #pachet h5 {
  margin-top: 1px;
  font-family: "diavlolight";
  color: #555555;
}
.product h2 {
  color: #0896ff;
  font-size: 24px;
  padding-top: 5px;
  font-family: "Advent Pro";
}
.product .search-left {
  height: 435px;
  margin-top: 10px;
}
.product .search-item-2 {
  font-size: 15px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.product .search-item-2 select {
  width: 70px;
  float: right;
  text-align: center;
}
.product .search-right {
  height: 430px;
  padding-left: 13px;
}
.product .search-right h2 {
  font-weight: bold;
  padding-left: 0px;
  margin-left: 0px;
  text-align: left;
  width: 100%;
  margin-top: -9px;
  height: 40px;
  padding-top: 20px;
}
.product .search-right h2 img {
  height: 15px;
}
.product .search-right h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #feba00;
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
  float: left;
}
.product .search-right h4 {
  position: relative;
  float: right;
  top: -15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #e42c23;
}
.product .search-right h5 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
}
.product .product-carousel {
  margin-top: -5px;
  float: left;
}
.product .thumbs {
  margin-top: 10px;
  float: left;
  margin-left: 13px;
}
.product .thumbs img {
  margin-left: 2px;
  width: 140px;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 0px;
  border: 3px solid rgba(255, 255, 60, 0.3);
}
.product .thumbs img:hover {
  cursor: pointer;
}
.product .product-desc {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  font-family: "diavlolight";
  font-size: 15px;
  color: #555555;
}
.product .product-desc h1 {
  color: #feba00;
  font-family: 'Advent Pro';
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  padding-top: -10px;
}
.product .product-desc h2 {
  color: #0896ff;
  font-family: 'Advent Pro';
  font-size: 30px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 50px;
  position: relative;
  top: -5px;
}
.product tab {
  margin-left: 20px;
}
.search {
  min-height: 1000px;
}
.search h1 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  padding-top: 0px;
}
.search h2 {
  color: #0896ff;
  font-family: 'Advent Pro';
  font-size: 22px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 50px;
  position: relative;
  top: -5px;
}
.search h3 {
  margin-left: 0px;
  font-size: 14px;
  color: #888888;
  margin-top: 0px;
}
.search .attraction {
  top: 90px;
  left: 20px;
  width: 100%;
  background-color: #feba00;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: "Arial";
  font-size: 20px;
  color: #003580;
}
.search .attraction h1 {
  padding-left: 0px;
  margin-left: 3px;
  margin-top: 0px;
  color: #003580;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
.search .attraction .search-item {
  font-size: 16px;
  float: left;
  padding-left: 10px;
  color: #003580;
  margin-bottom: 5px;
}
.search .attraction .search-item .rd {
  float: left;
  margin-left: 30px;
  text-align: left;
}
.search .attraction .search-item .rd input {
  width: 20px;
  margin-top: 5px;
}
.search .attraction .search-item select {
  float: left;
  margin-left: -10px;
  padding: 5px 5px 5px 5px;
  width: 110%;
}
.search .attraction .search-item input {
  width: 105%;
  margin-left: -10px;
  padding-left: 10px;
}
.search .attraction .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 50%;
  position: absolute;
  right: 12px;
  bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
}
.search .attraction .btn-search:hover {
  cursor: pointer;
}
.search .attraction .btn-search:hover {
  cursor: pointer;
}
.search .search-left {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 200px;
  height: 350px;
  background-color: #feba00;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: "Arial";
  font-size: 20px;
  color: #003580;
}
.search .search-left h1 {
  padding-left: 0px;
  margin-left: 3px;
  margin-top: 0px;
  color: #003580;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
.search .search-left .search-item {
  font-size: 16px;
  float: left;
  padding-left: 10px;
  color: #003580;
  margin-bottom: 5px;
}
.search .search-left .search-item .rd {
  float: left;
  margin-left: 30px;
  text-align: left;
}
.search .search-left .search-item .rd input {
  width: 20px;
  margin-top: 5px;
}
.search .search-left .search-item select {
  float: left;
  margin-left: -10px;
  padding: 5px 5px 5px 5px;
  width: 110%;
}
.search .search-left .search-item input {
  width: 105%;
  margin-left: -10px;
  padding-left: 10px;
}
.search .search-left .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 50%;
  position: absolute;
  right: 12px;
  bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
}
.search .search-left .btn-search:hover {
  cursor: pointer;
}
.search .search-left .btn-search:hover {
  cursor: pointer;
}
.search .search-left-2 {
  position: absolute;
  top: 455px;
  left: 20px;
  height: 540px;
  background-color: #ccccff;
  width: 200px;
  border-radius: 10px 10px 10px 10px;
  color: #46909d;
}
.search .search-left-2 .btn-search {
  background-color: #0896ff;
  color: #ffffff;
  width: 50%;
  position: absolute;
  right: 12px;
  bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
}
.search .search-left-2 .btn-search:hover {
  cursor: pointer;
}
.search .search-left-2 .btn-search:hover {
  cursor: pointer;
}
.search .search-left-2 h1 {
  color: #ffffff;
  background-color: #0896ff;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 10px 10px 10px 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search .search-left-2 h2 {
  font-size: 20px;
  background-color: transparent;
  color: #003580;
  margin-left: 0px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.search .search-left-2 .search-item {
  margin-left: 10px;
}
.search .search-left-2 .search-item .sis {
  margin-left: 5px;
}
.search .search-right {
  margin-left: 210px;
  margin-top: 19px;
}
.search .search-right h2 {
  margin-bottom: 0px;
  float: left;
  margin-left: 27px;
  font-size: 18px;
  color: #0078d8;
  font-weight: bold;
}
.search .search-right h4 {
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
  color: #0078d8;
  font-family: "diavlolight";
  font-weight: bold;
}
.search .search-right #ord {
  float: left;
  margin-left: 0px;
  border-top: 3px solid #0896ff;
  width: 100%;
  border-bottom: 1px solid #0896ff;
  margin-bottom: 10px;
  border-right: 1px solid #0896ff;
  border-left: 1px solid #0896ff;
}
.search .search-right #ord a {
  background-color: #ffffff;
  color: #46909d;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  float: left;
  border-right: 1px solid #0896ff;
}
.search .search-right .container-fluid {
  padding-right: 0px;
}
.search .search-right .media-left .media-object {
  width: 220px;
  height: 150px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search .search-right #pachet {
  margin-bottom: 20px;
  border: 1px solid #c7c7c7;
  width: 100%;
  padding-right: 5px;
  border-radius: 10px 10px 10px 10px;
}
.search .search-right #pachet .stars img {
  width: 20px;
}
.search .search-right #pachet .pachet-right {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ff0000;
  padding-right: 40px;
  margin-top: 12px;
  text-align: right;
  width: 200px;
}
.search .search-right #pachet .pachet-right h1 {
  font-size: 24px;
  padding-top: 0px;
  margin-top: -4px;
  color: rgba(0, 0, 0, 0.5);
}
.search .search-right #pachet .pachet-right h2 {
  margin-top: 5px;
  clear: both;
  float: right;
  color: #0896ff;
}
.search .search-right #pachet .pachet-right h3 {
  color: #0896ff;
  text-align: center;
  font-size: 20px;
  color: #feba00;
  margin-top: 54px;
  width: 238px;
  font-weight: bold;
}
.search .search-right #pachet .pachet-right h4 {
  font-size: 18px;
  margin-bottom: 0px;
  color: #e42c23;
}
.search .search-right #pachet .btn-view {
  background-color: #0896ff;
  color: #ffffff;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
}
.search .search-right #pachet .btn-view:hover {
  cursor: pointer;
}
.search .search-right #pachet h1 {
  font-size: 18px;
  color: #0078d8;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 10px;
}
.search .search-right #pachet a {
  text-decoration: underline;
  color: #0896ff;
}
.search .search-right #pachet h3 {
  font-size: 12px;
  color: #555555;
  margin-top: 15px;
  height: 5px;
}
.search .search-right #pachet h4 {
  font-size: 12px;
  color: #e42c23;
}
.search .search-right #pachet h5 {
  margin-top: 1px;
  font-family: "diavlolight";
  color: #555555;
}
.romb {
  width: 60px;
  height: 60px;
}
.romb_text {
  margin-top: 15px!important;
  color: #000000!important;
  margin-left: 20px!important;
  font-size: 20px!important;
}
.frunza_mica {
  width: 20px;
  margin-top: -2.6px;
}
@media screen and (max-width: 767px) {
  .header .top-filter {
    width: 70%;
    left: 170px;
  }
  .hm {
    display: block;
  }
  .search {
    margin-left: 1px;
  }
  .search .search-left {
    float: left;
    position: inherit;
    width: 100%;
    height: 70px;
  }
  .search .search-right {
    margin-left: -15px;
    margin-top: 85px;
  }
}
.home {
  float: left;
  margin-top: -10px;
  position: relative;
}
.home .home-tabs a {
  padding-right: 30px;
  padding-left: 30px;
}
.home h1 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  padding-top: 20px;
}
.home h2 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 30px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 50px;
  position: relative;
  top: -5px;
}
.home h3 {
  margin-left: 0px;
  font-size: 14px;
  color: #888888;
  margin-top: 0px;
}
.home .home-carousel {
  float: left;
  padding-right: 255px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.home .sidebar {
  position: absolute;
  top: 85px;
  right: 0px;
}
.home .sidebar h1 {
  font-size: 24px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #555555;
  font-family: "diavlolight";
  font-size: 16px;
  background-color: #46909d;
  height: 20px;
  padding-top: 0px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 1px;
  margin-left: -1px;
}
.home .sidebar .events-search {
  height: 135px;
  font-family: "Advent Pro";
  margin-bottom: 20px;
  margin-top: 22px;
}
.home .sidebar .events-search input {
  width: 98%;
  float: left;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Arial";
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
.home .sidebar .events-search select {
  width: 98%;
  font-family: "Arial";
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.home .sidebar .events-search h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #555555;
  font-family: "diavlolight";
  font-size: 16px;
  background-color: #46909d;
  height: 20px;
  padding-top: 0px;
  width: 99 %;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 1px;
  margin-left: -1px;
}
.home .sidebar .events-search .esb {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}
.home .sidebar .events-search .esb input {
  float: left;
  width: 20px;
  margin-left: -4px;
}
.home .sidebar .events-search .esb span {
  float: left;
}
.home .sidebar .map {
  float: left;
  margin-top: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.home .sidebar .map img {
  width: 240px;
  border-radius: 10px 10px 10px 10px;
}
.home .sidebar .home-calendar-btn {
  background-color: #0896ff;
  color: #ffffff;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  width: 180px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.home .sidebar .home-calendar-btn:hover {
  cursor: pointer;
}
.home .sidebar .home-map-btn {
  background-color: #0896ff;
  color: #ffffff;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  margin-top: 217px;
}
.home .sidebar .home-map-btn:hover {
  cursor: pointer;
}
.home .home-bottom {
  padding-right: 255px;
}
.home .home-tabs {
  font-size: 20px;
  color: #5f5f5f;
}
.home .home-tabs .nav {
  margin-left: 60px;
  font-family: 'Advent Pro';
  margin-top: 15px;
}
.home .home-tabs ul {
  border: none;
}
.home .home-tabs li {
  background: none;
}
.home .home-tabs li a {
  background: none!important;
  color: #5f5f5f;
}
.home .home-tabs li.active {
  font-weight: bold;
  border: none;
  background: none;
}
.events {
  float: left;
  margin-top: -10px;
  position: relative;
  min-height: 850px;
  width: 100%;
}
.events .home-tabs a {
  padding-right: 30px;
  padding-left: 30px;
}
.events h1 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  padding-top: 20px;
}
.events h2 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 30px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 50px;
  position: relative;
  top: -5px;
}
.events h3 {
  margin-left: 0px;
  font-size: 14px;
  color: #888888;
  margin-top: 0px;
}
.events .home-carousel {
  float: left;
  padding-right: 255px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.events .sidebar {
  position: absolute;
  top: 85px;
  right: 0px;
}
.events .sidebar h1 {
  font-size: 24px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #555555;
  font-family: "diavlolight";
  font-size: 16px;
  background-color: #46909d;
  height: 20px;
  padding-top: 0px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 1px;
  margin-left: -1px;
}
.events .sidebar .events-search {
  height: 135px;
  font-family: "Advent Pro";
  margin-bottom: 20px;
  margin-top: 22px;
}
.events .sidebar .events-search input {
  width: 98%;
  float: left;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Arial";
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
.events .sidebar .events-search select {
  width: 98%;
  font-family: "Arial";
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.events .sidebar .events-search h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #555555;
  font-family: "diavlolight";
  font-size: 16px;
  background-color: #46909d;
  height: 20px;
  padding-top: 0px;
  width: 99 %;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 1px;
  margin-left: -1px;
}
.events .sidebar .events-search .esb {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}
.events .sidebar .events-search .esb input {
  float: left;
  width: 20px;
  margin-left: -4px;
}
.events .sidebar .events-search .esb span {
  float: left;
}
.events .sidebar .map {
  float: left;
  margin-top: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.events .sidebar .map img {
  width: 240px;
  border-radius: 10px 10px 10px 10px;
}
.events .sidebar .home-calendar-btn {
  background-color: #0896ff;
  color: #ffffff;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  width: 180px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.events .sidebar .home-calendar-btn:hover {
  cursor: pointer;
}
.events .sidebar .home-map-btn {
  background-color: #0896ff;
  color: #ffffff;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  margin-top: 217px;
}
.events .sidebar .home-map-btn:hover {
  cursor: pointer;
}
.events .home-bottom {
  padding-right: 255px;
}
.events .home-tabs {
  font-size: 20px;
  color: #5f5f5f;
}
.events .home-tabs .nav {
  margin-left: 60px;
  font-family: 'Advent Pro';
  margin-top: 15px;
}
.events .home-tabs ul {
  border: none;
}
.events .home-tabs li {
  background: none;
}
.events .home-tabs li a {
  background: none!important;
  color: #5f5f5f;
}
.events .home-tabs li.active {
  font-weight: bold;
  border: none;
  background: none;
}
.events h1 {
  color: #feba00;
  margin-left: 0px;
}
.events h2 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.events .events-items {
  float: left;
  font-family: "Advent Pro";
  padding-right: 270px;
}
.events .events-items #event {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  margin-bottom: 0px;
}
.events .events-items #event img {
  width: 150px;
  height: 120px;
}
.events .events-items #event .event-btn {
  background-color: #feba00;
  float: right;
  position: relative;
  top: -45px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 100px;
  text-align: center;
  color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
  height: 30px;
  padding-top: 5px;
}
.events .events-items #event h1 {
  font-size: 26px;
  color: #46909d;
  margin-top: -15px;
  margin-bottom: 0px;
}
.events .events-items #event a {
  text-decoration: underline;
  color: #000000;
  font-familiy: "Arial";
  font-size: 16px;
  text-decoration: none;
}
.events .events-items #event h2 {
  margin-bottom: 10px;
  font-familiy: "Arial";
}
.events .events-items #event h3 {
  font-size: 14px;
  color: #000000;
  margin-top: 13px;
  font-weight: bold;
  width: 80%;
}
.events .events-items #event h4 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-familiy: "Arial";
  margin-top: -5px;
  font-weight: bold;
}
.info-item-pic {
  width: 306px;
  height: 186px;
}
.info {
  float: left;
  margin-top: -10px;
  position: relative;
  margin-left: 10px;
}
.info .home-tabs a {
  padding-right: 30px;
  padding-left: 30px;
}
.info h1 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  padding-top: 20px;
}
.info h2 {
  color: #46909d;
  font-family: 'Advent Pro';
  font-size: 30px;
  margin-top: 0px;
  padding-top: -10px;
  margin-left: 50px;
  position: relative;
  top: -5px;
}
.info h3 {
  margin-left: 0px;
  font-size: 14px;
  color: #888888;
  margin-top: 0px;
}
.info .home-carousel {
  float: left;
  padding-right: 255px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.info .sidebar {
  position: absolute;
  top: 85px;
  right: 0px;
}
.info .sidebar h1 {
  font-size: 24px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #555555;
  font-family: "diavlolight";
  font-size: 16px;
  background-color: #46909d;
  height: 20px;
  padding-top: 0px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 1px;
  margin-left: -1px;
}
.info .sidebar .events-search {
  height: 135px;
  font-family: "Advent Pro";
  margin-bottom: 20px;
  margin-top: 22px;
}
.info .sidebar .events-search input {
  width: 98%;
  float: left;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Arial";
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
.info .sidebar .events-search select {
  width: 98%;
  font-family: "Arial";
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.info .sidebar .events-search h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #555555;
  font-family: "diavlolight";
  font-size: 16px;
  background-color: #46909d;
  height: 20px;
  padding-top: 0px;
  width: 99 %;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 1px;
  margin-left: -1px;
}
.info .sidebar .events-search .esb {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}
.info .sidebar .events-search .esb input {
  float: left;
  width: 20px;
  margin-left: -4px;
}
.info .sidebar .events-search .esb span {
  float: left;
}
.info .sidebar .map {
  float: left;
  margin-top: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.info .sidebar .map img {
  width: 240px;
  border-radius: 10px 10px 10px 10px;
}
.info .sidebar .home-calendar-btn {
  background-color: #0896ff;
  color: #ffffff;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  width: 180px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.info .sidebar .home-calendar-btn:hover {
  cursor: pointer;
}
.info .sidebar .home-map-btn {
  background-color: #0896ff;
  color: #ffffff;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  margin-top: 217px;
}
.info .sidebar .home-map-btn:hover {
  cursor: pointer;
}
.info .home-bottom {
  padding-right: 255px;
}
.info .home-tabs {
  font-size: 20px;
  color: #5f5f5f;
}
.info .home-tabs .nav {
  margin-left: 60px;
  font-family: 'Advent Pro';
  margin-top: 15px;
}
.info .home-tabs ul {
  border: none;
}
.info .home-tabs li {
  background: none;
}
.info .home-tabs li a {
  background: none!important;
  color: #5f5f5f;
}
.info .home-tabs li.active {
  font-weight: bold;
  border: none;
  background: none;
}
.info h1 {
  margin-left: 5px;
}
.info h2 {
  font-family: "diavlolight";
  font-size: 16px!important;
}
.info #video {
  width: 100%;
  margin-left: -80px;
  margin-top: -20px;
  background-color: #f4f3ee;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.info #video-content {
  padding: 10px;
}
.info .info-items {
  float: left;
  font-family: "Advent Pro";
  padding-right: 200px;
}
.info .info-items .img-full {
  background-color: #f4f3ee;
  width: 88%;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.info .info-items h3 {
  color: #000000;
  margin-left: 20px;
  font-size: 26px;
  font-family: "diavlolight";
}
.info .info-items h2 {
  margin-top: 20px;
  color: #555555;
  font-size: 18px;
  margin-left: 3px;
  margin-bottom: 20px;
  width: 88%;
  text-align: justify;
}
.info .info-items #info-item {
  margin-left: -13px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.info .info-items #info-item img {
  border-radius: 10px 10px 10px 10px;
}
.info .info-items #info-item h1 {
  padding: 0px;
  margin: 0px;
  color: #555555;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-family: "Arial";
}
.info .info-items #info-item .info-right {
  position: absolute;
  bottom: -5px;
  right: 30px;
}
.info .info-items #info-item .info-right h1 {
  position: absolute;
  top: 25px;
  text-align: center;
  width: 70px;
  left: -5px;
  color: #ffffff;
  font-weight: 100;
}
#datepicker-home {
  border: none;
}
#datepicker-home a {
  color: #555555;
  font-family: "diavlolight";
  font-size: 12px;
  border: none;
  background-color: transparent;
}
.map {
  font-family: 'Advent Pro';
}
.map h1 {
  color: #46909d;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 17px;
  padding-top: 10px;
}
.map h2 {
  color: #000000;
  font-size: 18px;
  padding-top: 0px;
  margin-top: 10px;
  margin-left: 25px;
  color: rgba(0, 0, 0, 0.5);
}
.map h3 {
  color: #555555;
  margin-left: 25px;
  font-size: 16px;
}
.map .map-content {
  margin-top: 0px;
  width: 100%;
  height: 450px;
  background-color: #f4f3ee;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.map iframe {
  width: 100%;
  height: 100%;
}
#contact {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "diavlolight";
  font-size: 16px;
  font-weight: 100;
  margin-left: 0px;
}
#contact form {
  background-color: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#contact .alert {
  display: none;
}
#contact h1 {
  font-family: "Advent Pro";
  color: #feba00;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 180px;
}
#contact fieldset {
  border: none;
}
