/*header*/
#header{
	z-index: 490;
}
/*main menu*/
ul li.expanded,
ul li.expanded:hover{
	list-style-image: none;
	list-style-type:none;
	list-style: none !important;
}
#desktop-menu .menu-main-menu ul,
#desktop-menu .menu-main-menu li{
	list-style: none !important;
}
#desktop-menu .menu-main-menu li,
#mobile-menu .menu-main-menu li{
	padding: 0;
}
/*header search*/
.header_search  input[type=submit]{
    float: right;
    position: absolute;
    top: 1px;
    right: -18px;
    padding: 0;
    background: url('../images/button_search.png') center center no-repeat;
    width: 22px;
    height: 28px;
    cursor: pointer;
    border: none;
    z-index: 100;
    box-shadow: none;
}
.header_search form{
	margin-left: -20px;
}
.header_search{
	margin-right: 11px;
}
.header_search .container-inline{
	position: relative;
}
.header_search  input[type=text]{
    float: right;
    position: relative;
    top: 1px;
    right: -22px;
    width: 120px;
    margin-bottom: 0;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px 29px 5px 7px;
    font-size: 13px;
    color: #ccc;
    background: #fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.header_search  input[type=text]:focus{
    width: 150px;
    color: #888;
    border: 1px solid #07bee5;
}
.header_search .contextual-links-wrapper{
	right: -26px;
}
#footer {
    border-top: none;
    padding-top: 36px;
}
.content_bgr {
    margin-bottom: 0;
}
.content_bgr .full_container:last-child {
    margin-bottom: 0;
}
/*contextual links wrapper*/
div.contextual-links-wrapper{
	z-index: 1201;
}
/*savita css*/
.margin-top-75px{
    margin-top: 75px;
}
.margin-top-38px{
    margin-top: 37.5px;
}
.margin-bottom-38px{
    margin-bottom: 37.5px;
}
.margin-bottom-75px{
    margin-bottom: 75px;
}
.page .full_container:last-child {
    margin-bottom: 0;
}
.padding-top-38px{
    padding-top: 38px;
}
.padding-top-75px{
    padding-top: 75px;
}
.padding-bottom-20px{
    padding-bottom: 20px;
}
ul li.leaf{
    list-style: none !important;
}
.twelve.columns .block-system .content .field-item.even > h4:first-child,
.block-system .content .field-item.even > .columns > h3:first-child,
.block-views > h3:first-child,.block-views > h4:first-child{
    margin-top: 0;
}
.no-margin-top{
    margin-top: 0 !important;
}
.margin-left-2{
    margin-left: 2px;
}
/*footer css*/
#footer .menu > li{
    list-style-image: none;
    list-style-type: none;
}
/*services*/
#services-hp-2 > .row > .sixteen > h2{
    margin-bottom: 40px;
}

/*index-2*/
.circ_numbers_holder_2 .counter {
    position: relative;
    opacity:1;
    left:0px;
    -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms; 
}

.circ_numbers_holder_2.animationStart .counter {
    opacity: 0;
    left:40px;
}

.circ_numbers_holder_2 .counter {
    position: relative;
    opacity:1;
    left:0px;

    -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms; 
}

.circ_numbers_holder_2.animationStart .counter {
    opacity: 0;
    left:40px;
}
.circ_numbers_holder_2 {
    margin: 12px 0 20px;
}

.circ_counter .circ_counter_text_holder_2{
    position: absolute;
    left: 2px;
    top: 37px;
    width: 100%;
    height: 49px;
    line-height: 49px;
    font-size: 49px;
    font-weight: 700;
    text-align: center;
}

.circ_numbers_holder_2.dark_circles .circ_counter_text_holder_2{
    font-weight: 600;
}
.dark_container_white_text .circ_numbers_holder_2.dark_circles .circ_counter_text_holder_2{
    color: #eee !important;
}

/*index-4*/
.circ_numbers_holder_4 .counter {
    position: relative;
    opacity:1;
    left:0px;
    -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms; 
}

.circ_numbers_holder_4.animationStart .counter {
    opacity: 0;
    left:40px;
}

.circ_numbers_holder_4 .counter {
    position: relative;
    opacity:1;
    left:0px;

    -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms; 
}

.circ_numbers_holder_4.animationStart .counter {
    opacity: 0;
    left:40px;
}
.circ_numbers_holder_4 {
    margin: 12px 0 20px;
}

.circ_counter .circ_counter_text_holder_4{
    position: absolute;
    left: 2px;
    top: 37px;
    width: 100%;
    height: 49px;
    line-height: 49px;
    font-size: 49px;
    font-weight: 700;
    text-align: center;
}

.circ_numbers_holder.dark_circles .circ_counter_text_holder_4{
    font-weight: 600;
}
.dark_container_white_text .circ_numbers_holder_4.dark_circles .circ_counter_text_holder_4{
    color: #eee !important;
}
/*index-5*/
.image_featured_text img{
    float: left;
    margin: 1px 16px 0px 0;
    width: 120px;
    height: 120px;
    top: 0;
    text-align: center;
    border-radius: 50%;
    
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    
    border: 5px solid white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

}
/*index-6*/
.circ_numbers_holder_6 .counter {
    position: relative;
    opacity:1;
    left:0px;
    -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms; 
}

.circ_numbers_holder_6.animationStart .counter {
    opacity: 0;
    left:40px;
}

.circ_numbers_holder_6 .counter {
    position: relative;
    opacity:1;
    left:0px;

    -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
    transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms; 
}

.circ_numbers_holder_6.animationStart .counter {
    opacity: 0;
    left:40px;
}
.circ_numbers_holder_6 {
    margin: 12px 0 20px;
}

.circ_counter .circ_counter_text_holder_6{
    position: absolute;
    left: 2px;
    top: 37px;
    width: 100%;
    height: 49px;
    line-height: 49px;
    font-size: 49px;
    font-weight: 700;
    text-align: center;
}

.circ_numbers_holder_6.dark_circles .circ_counter_text_holder_6{
    font-weight: 600;
}
.dark_container_white_text .circ_numbers_holder_6.dark_circles .circ_counter_text_holder_6{
    color: #eee !important;
}
/*breadcrumb*/
#breadcrumbs{
    color: #777;
    font-size: 11px;
    line-height: 20px;
}
#breadcrumbs span{
    background: url('../images/arrow_footer_list.png') center center no-repeat !important;
    padding-bottom: 1px;
    padding-left: 11px;
    padding-right: 12px;
    float: left;
}
#breadcrumbs a{
    margin-right: 0;
}
.page_title_bgr .full_container_page_title .page_heading {
    margin: 19px 0 20px;
}
/*comments*/
ol.commentlist{
    list-style: none;
}
.comment_container > img{
    margin: 22px!important;
    border: none!important;
    width: 40px !important;
    padding: 0 !important;
    float: left;
    top: 0;
    left: 0;
    height: auto;
    background: #ebe9eb;
    box-shadow: none;
}
li.comment{
    list-style: none;
}
.comment-text .meta{
    margin-top: 14px;
}
ol.commentlist{
    margin-left: 0;

}
.portfolio-comment-link{
    text-align: right;
    margin-right: 15px;
    margin-bottom: 15px;
}
.portfolio-comment-link a{
    text-transform: uppercase;
}
.comment-author .comment_name ul.links{
    margin: 0;
}
.comment_list ol .comment_name span {
    font-weight: normal;
    color: #aaa;
    margin: 0 3px 0 8px;
}
#review_form_wrapper input[type=submit],
#respond input[type=submit]{
    color: #fff !important;
    text-shadow: none !important;
    background: #444 !important;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    text-shadow: none !important;
    left: auto;
    text-decoration: none;
    font-weight: 600 !important;
    box-shadow: none !important;
    font-size: 11px !important;
    border: none !important;
    padding: 6px 11px !important;
    transition: all 0.1s linear;
    background: #07bee5 !important;
    border-radius: 3px;
}
#review_form_wrapper input[type=text],
#respond input[type=text],
#review_form_wrapper textarea,
#repond textarea{
    background-color: #fcfcfc;
}
#comment-body-add-more-wrapper textarea{
    background-color: #fcfcfc;
    height: 127px;
    width: 450px;
    max-width: 100%;
}
#review_form_wrapper input[type=submit]#edit-preview,
#respond input[type=submit]#edit-preview{
    margin-left: 10px;
}
#review_form_wrapper input[type=submit]:hover,
#respond input[type=submit]:hover{
    background: #444 !important;
}
#reviews .comment_avatar{
    margin-right: 15px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
#reviews .comment_avatar .user-picture img{
    width: 60px;
    border-radius: 0;
}
#reviews .comment_avatar 
#reviews .comment-text{
    overflow: hidden;
}
/*page blog list*/
.blog_list_page .post_meta > span:last-child{
    border-right:0;
}
/*pager*/
.item-list ul.pager{
    text-align: left;
    padding-bottom: 22px;
}
.item-list ul.pager > li{
    margin: 0;
    padding-right: 15px;
}
.item-list ul.pager > li > a{
    text-transform: uppercase;
}
/*shop catalog*/
.woocommerce-page ul#shop-catalog li.product:nth-child(2n){
    float: left;
}
.woocommerce-page ul#shop-catalog li.product{
    min-height: 410px;
}
.woocommerce-page ul#shop-catalog li.product:nth-child(3n){
    margin-right: 0 !important;
}
.woocommerce-page ul#shop-catalog li.product{
    clear: none !important;
}
.woocommerce-page ul#shop-catalog li.product .fivestar-average-stars{
    margin: 3px 0 0px 14px;
}

.woocommerce-page ul#shop-catalog li.product .fivestar-average-stars .form-item{
    margin-top: 0;
    margin-bottom: 0;
}
.woo_content.shop-catalog{
    margin-top: 30px;
}
.woo_content.shop-catalog h1.page-title{
    float: left;
}
.sidebar.shop-catalog{
    margin-top: 30px;
}
.sidebar.shop-catalog .fivestar-average-stars{
    height: 15px;
}
.sidebar.shop-catalog .fivestar-average-stars .form-type-item{
    margin-top: 0;
    margin-bottom: 0; 
}
/*add to cart button*/
.woocommerce-page ul#shop-catalog form.commerce-add-to-cart{
    margin-top: -37.5px;
}
.woocommerce-page ul#shop-catalog form.commerce-add-to-cart > div{
    text-align: right;
}
.woocommerce-page ul#shop-catalog form.commerce-add-to-cart input[type=submit]{
    font-family: inherit;
    font-weight: 600;
    margin-right: 14px;
    padding: 4px 11px;
    border-radius: 3px;
    font-size: 13px;
    background: #07bee5 !important;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    color: #fff !important;
    text-shadow: none !important;
    cursor: pointer;
    transition: all 0.2s linear;
}
.woocommerce-page ul#shop-catalog form.commerce-add-to-cart input[type=submit]:hover{
    background: #444 !important;
}
/*sort*/
#views-exposed-form-shopcatalog-shop-catalog-page{
    float: right;
}
#views-exposed-form-shopcatalog-shop-catalog-page .views-widget-sort-by{
    padding: .5em 0em 0 0;
}
#views-exposed-form-shopcatalog-shop-catalog-page .views-exposed-form > .views-exposed-widgets{
    width: 179px;
}
/*single product*/
.boc_single_product .commerce-add-to-cart .form-item-quantity{
    margin-bottom: 0;
    float: left;
    margin-top: 0;
    margin-right: 10px;
}
.boc_single_product form.commerce-add-to-cart{
   margin-top: 18px;
   margin-bottom: 27px;
}


.boc_single_product .commerce-add-to-cart .form-item-quantity label{
    display: none !important;
}
.boc_single_product .commerce-add-to-cart .form-item-quantity input[type=text]{
    width: 115px;
    text-align: center;
    padding: 7.5px 0px;
}
.webform-client-form-103 input[type=submit]{
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    text-shadow: none !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    padding: 9px 20px !important;
    font-size: 14px !important;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600 !important;
    border: none !important;
    box-shadow: none !important;
    transition: all 0.1s linear;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    font-family: inherit;
    border-radius: 3px;
    background-color: #07bee5;
}
.webform-client-form-103 input[type=text],.webform-client-form-103 textarea{
    background: #fcfcfc;
}
.webform-client-form-103 input[type=text]{
    width: 300px;
}
.webform-client-form-103 textarea{
    width: 450px;
}
.webform-client-form-103 input[type=submit]:hover{
    background: #444 !important;
}
.boc_single_product .single_product_right .commerce-add-to-cart input[type=submit]{
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    text-shadow: none !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    padding: 9px 20px !important;
    font-size: 14px !important;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600 !important;
    border: none !important;
    box-shadow: none !important;
    transition: all 0.1s linear;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    font-family: inherit;
    border-radius: 3px;
    background-color: #07bee5;
    margin-left: 10px;
}
.boc_single_product .single_product_right .commerce-add-to-cart input[type=submit]:hover{
    background: #444 !important;
}
.boc_single_product .related.products li.product:nth-child(2n){
    float: left;
}
.boc_single_product .related.products li.product:nth-child(4n){
    margin-right: 0 !important;
}
.boc_single_product .related.products li.product{
    clear: none !important;
}
.boc_single_product .related.products li.product .fivestar-average-stars{
    margin: 3px 0 0px 14px;
}

.boc_single_product .related.products li.product .fivestar-average-stars .form-item{
    margin-top: 0;
    margin-bottom: 0;
}
.boc_single_product .related.products li.product form.commerce-add-to-cart{
    margin-top: -37.5px;
}
.boc_single_product .related.products li.product form.commerce-add-to-cart > div{
    text-align: right;
}
.boc_single_product .related.products li.product form.commerce-add-to-cart input[type=submit]{
    font-family: inherit;
    font-weight: 600;
    margin-right: 14px;
    padding: 4px 11px;
    border-radius: 3px;
    font-size: 13px;
    background: #07bee5 !important;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    color: #fff !important;
    text-shadow: none !important;
    cursor: pointer;
    transition: all 0.2s linear;
}
.boc_single_product .related.products li.product form.commerce-add-to-cart input[type=submit]:hover{
    background: #444 !important;
}
.woocommerce-page div.product div.thumbnails a:last-child{
    margin-right: 0;
}
.woocommerce-page div.product div.thumbnails a:first-child{
    clear: both;
}
/*cart & checkout*/
.view-commerce-cart-form .commerce-line-item-views-form form table,
.page-checkout .views-table{
    width: 100%;
}
.view-commerce-cart-form .commerce-line-item-views-form form table thead tr th,
.page-checkout .views-table thead tr th{
    text-transform: uppercase;
    font-weight: bold;
}
.view-commerce-cart-form .commerce-line-item-views-form form table tbody > tr,
.page-checkout .views-table tbody > tr{
    background-color: transparent;
}
.view-commerce-cart-form .commerce-line-item-views-form form table thead tr,
.page-checkout .views-table thead tr{
    border-bottom: 1px solid #ccc;
}
.view-commerce-cart-form .commerce-line-item-views-form form table tbody tr > td.views-field-edit-quantity input[type=text]{
    margin-top: 20px;
}
.views-field-commerce-total{
    font-weight: bold;
}
.view-commerce-cart-form .commerce-line-item-views-form input[type=submit]{
    border-radius: 3px;
}
.view-commerce-cart-form .commerce-line-item-views-form .line-item-summary{
    margin-top: 1em;
}
.view-commerce-cart-form .commerce-line-item-views-form .line-item-summary .line-item-total-label{
    text-transform: uppercase;
}
.view-commerce-cart-form .commerce-line-item-views-form .line-item-summary .line-item-total-raw{
    font-size: 180%;
    font-style: italic;
}
.view-commerce-cart-form .commerce-line-item-actions input:first-child{
    margin-right: 5px;
}
.page-checkout .views-table tbody > tr{
    line-height: 70px;
}
.page-checkout form fieldset > legend > span{
    font-size: 30px;
    text-transform: uppercase;
}
.page-checkout form fieldset.cart_contents > .fieldset-wrapper{
    margin-top: 21px;
}
.page-checkout .view-footer{
    margin-top: 20px;
}
.page-checkout .view-footer tbody > tr{
    background-color: transparent;
}
.page-checkout .view-footer tbody tr.component-type-commerce-price-formatted-amount > td.component-total{
    font-weight: normal;
    font-size: 180%;
    font-style: italic;
}
.page-checkout fieldset.customer_profile_billing input[type=text]{
    margin-bottom: 0;
    width: 400px;
}
.page-checkout fieldset.checkout-buttons input.checkout-continue{
    border-radius: 3px;
    margin-right: 5px;
}

.page-checkout-review form table{
    width: 100%;
}
.page-checkout-review form table tbody > tr{
    background-color: transparent;
}
table.checkout-review .pane-title td{
    padding-left: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
}
table.checkout-review .pane-data .pane-data-full{
    padding-top: 27px;
    padding-bottom: 27px;
}
.page-checkout-review form .commerce-credit-card-expiration .form-item-commerce-payment-payment-details-credit-card-exp-month > select{
    margin-bottom: 0; 
    float: left;
}
.page-checkout-review form .commerce-credit-card-expiration .commerce-month-year-divider{
    float: left;
}
.page-checkout-review form .commerce-credit-card-expiration .form-item-commerce-payment-payment-details-credit-card-exp-month > label{
    float: left;
    margin-right: 39px;
}
.page-checkout-review form table tbody tr.pane-data{
    border-bottom: 0;
}
#user-register-form input[type=submit],
#user-login input[type=submit],
#user-pass input[type=submit]{
    font-family: inherit;
    font-weight: 600;
    margin-right: 14px;
    padding: 4px 11px;
    border-radius: 3px;
    font-size: 13px;
    background: #07bee5 !important;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    color: #fff !important;
    text-shadow: none !important;
    cursor: pointer;
    transition: all 0.2s linear;
}
#user-register-form input[type=text],
#user-login input[type=text],
#user-pass input[type=text]{
    margin-bottom: 0;
}
#user-register-form input[type=submit]:hover,
#user-login input[type=submit]:hover,
#user-pass input[type=submit]:hover{
    background: #444 !important;
}
.page-user .profile .user-picture{
    float: none;
}
.tabs.primary li a{
    background-color: transparent;
    border:0;
    padding: 0;
    text-transform: uppercase;
}
.tabs.primary li.active a{
    background-color: transparent;
    border:0;
    padding-left: 0;
}
.tabs.primary{
    border-bottom: 0;
    padding:0 0 15px 15px;
    margin: 0;
}
.tabs.primary li a:hover{
    background-color: transparent;
}
.page-user .tabs.primary{
    padding: 0;
}
.search-results li{
    border-bottom: 1px solid #ddd;
}
.page-search #search-form input[type=submit]{
     font-family: inherit;
    font-weight: 600;
    margin-right: 14px;
    padding: 4px 11px;
    border-radius: 3px;
    font-size: 13px;
    background: #07bee5 !important;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1))!important;
    color: #fff !important;
    text-shadow: none !important;
    cursor: pointer;
    transition: all 0.2s linear;
}
.page-search #search-form input[type=submit]:hover{
    background: #444 !important;
}